# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.log

# Virtual Environment
venv/
env/

# backend/external_api/google_calendar/credentials.json
# backend/external_api/google_calendar/token*
credentials.json
token*

# MacOS specific files
.DS_Store


# Coverage reports
coverage/
*.egg-info/
